ul {
    margin-top: 8px;
    margin-bottom: 8px;
    
  }
  
  .wrapper {
    display: grid;
    grid-template-columns: [left-gutter] auto [main-column] 100px [skill-break] 600px [right-justify] 200px [right-gutter] auto [end];
    grid-template-rows: [top-gutter] 50px [header] 60px  [experience] auto [humana] auto [ercheader] auto [erc] auto [itea1header] auto [itea1] auto [itea2header] auto [itea2] auto [psaheader] auto [psa] auto [edaheader] auto [eda] auto [edainternheader] auto [edaintern] auto [education] auto [gatech] auto [purdue] auto [expertise] auto [skills] auto [visualization] auto [software] auto [bottom-gutter] auto [bottom];
    column-gap: 8px;
    row-gap: 4px;
    font-family:Helvetica, Arial;
  }
  
  .right-justify {
    grid-column: right-justify / right-gutter;
    justify-self: end;
  }
  
  .main-content {
    grid-column: main-column / right-gutter;
  }
  
  .name {
    grid-column: main-column / right-gutter;
    grid-row: header / summary-of-quals;
    font-size: 48px;
    font-weight: bold;
  }
  
  .section-header {
    font-size: 20px;
    align-items: end;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .contact-info {
    grid-column: right-justify / right-gutter;
    grid-row: header / summary-of-quals;
  }
  
  .summary-of-quals {
    grid-column: main-column / right-gutter;
    grid-row: summary-of-quals / experience;
  }
  
  .experience {
    grid-column: main-column / right-gutter;
    grid-row: experience / humana;
  }
  
  .humana{
    grid-column: main-column / right-gutter;
    grid-row: humana / ercheader;
  }
  
  .ercheader {
    grid-row: ercheader / erc;
  }
  
  .erc{
    grid-row: erc / itea1header;
    grid-column: main-column / right-gutter;
  }
  
  .itea1header {
    grid-row: itea1header / itea1;
  }
  
  .itea1 {
    grid-row: itea1 / itea2header;
    grid-column: main-column / right-gutter;
  }
  
  .itea2header {
    grid-row: itea2header / itea2;
  }
  
  .itea2 {
    grid-row: itea2 / psaheader;
    grid-column: main-column / right-gutter;
  }
  
  .psaheader {
    grid-row: psaheader / psa;
  }
  
  .psa {
    grid-row: psa / edaheader;
    grid-column: main-column / right-gutter;
  }
  
  .edaheader {
    grid-row: edaheader / eda;
  }
  
  .eda {
    grid-row: eda / edainternheader;
    grid-column: main-column / right-gutter;
  }
  
  .edainternheader {
    grid-row: edainternheader / edaintern;
  }
  
  .edaintern {
    grid-row: edaintern / education;
    grid-column: main-column / right-gutter;
  }
  
  .education {
    grid-row: education / gatech;
    grid-column: main-column / right-gutter;
  }
  
  .gatech {
    grid-row: gatech / purdue;
    grid-column: main-column / right-gutter;
  }
  
  .purdue {
    grid-row: purdue / expertise;
    grid-column: main-column / right-gutter;
  }
  
  .expertise {
    grid-row: expertise / skills;
  }
  
  .skill-break {
    grid-column: skill-break / right-gutter;
  }
  
  .skills {
    grid-row: skills / visualization;
    margin-bottom: 8px;
  }
  
  .visualization {
    grid-row: visualization / software;
    margin-bottom: 8px;
  }
  
  .software {
    grid-row: software / bottom-gutter;
  }