<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Richard Reasons • RGReasons.net</title>
		<meta name="description" content="Blog of Richard Reasons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
  <div class="container">
		<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Richard Reasons</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li><a href="/#contact">Contact</a></li>
            <li class="active"><a href="/blog/">Blog</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Coming Soon!</a></li>
                <!-- <li role="separator" class="divider"></li>
                <li class="dropdown-header">Second Section</li>
                <li><a href="#">Soon</a></li> -->
              </ul>
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
    </nav>
		<div class="col-md-8">
    	<div id="content">
      	{{content}}
    	</div>
		</div>
		<div class="col-md-3 col-md-offset-1">
			<p><a href="/blog/tags/">View Blog By Tags</a></p>
			{% for tag in site.tags %}
  				{% assign t = tag | first %}
  				{% assign posts = tag | last %}

				<a class="btn btn-default" href="/blog/tags#{{t | downcase}}">{{ t }}</a>
			{% endfor %}
		</div>
  </div>

  <footer>
  	<div class="row">
  		<div class="col-md-3 col-md-offset-1"><p>&copy;2016 Richard Reasons.</p></div>
		<!--<div id="contact" class="col-centered text-center">-->
		<div id="contact" class="col-md-3 col-md-offset-8">
			<!--<h3>Don't hesitate to reach out</h3>-->
			<a href="mailto:rgreasons@gmail.com" target="_blank" style="width:32px;" class="contact-icon"><img src="/img/mail.png"></img></a>
			<a href="http://twitter.com/rgreasons" target="_blank" style="width:32px;" class="contact-icon"><img src="/img/tw.png"></img></a>
			<a href="http://github.com/rgreasons" target="_blank" style="width:32px;" class="contact-icon"><img src="/img/gh.png"></img></a>
			<a href="http://www.linkedin.com/in/rgreasons" target="_blank" style="width:32px;" class="contact-icon"><img src="/img/li.png"></img></a>
		</div>
	 </div>
  </footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
<html>
