<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Richard Reasons • RGReasons.net</title>
		<meta name="description" content="Blog of Richard Reasons">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
  <div class="container">
		<!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Richard Reasons</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/">About</a></li>
            <li class="active"><a href="/blog/">Blog</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Coming Soon!</a></li>
                <!-- <li role="separator" class="divider"></li>
                <li class="dropdown-header">Second Section</li>
                <li><a href="#">Soon</a></li> -->
              </ul>
            </li>
          </ul>
          <!-- <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top <span class="sr-only">(current)</span></a></li>
          </ul> -->
        </div><!--/.nav-collapse -->
    </nav>
		<div class="col-md-12">
    	<div id="content">
      	{{content}}
    	</div>
		</div>
  </div>

  <footer>
	<div class="row">
  		<div class="col-md-3 col-md-offset-1 col-sm-4 col-sm-offset-1">&copy;2016 Richard Reasons</div>
		<!--<div id="contact" class="col-centered text-center">-->
		<div id="contact" class="col-md-3 col-md-offset-4 col-sm-4 col-sm-offset-2">
			<!--<h3>Don't hesitate to reach out</h3>-->
			<a href="mailto:rgreasons@gmail.com" target="_blank" class="contact-icon"><img  style="width:20px;" src="/img/mail.png"></img></a>
			<a href="http://twitter.com/rgreasons" target="_blank" class="contact-icon"><img  style="width:20px;" src="/img/tw.png"></img></a>
			<a href="http://github.com/rgreasons" target="_blank" class="contact-icon"><img style="width:20px;" src="/img/gh.png"></img></a>
			<a href="http://www.linkedin.com/in/rgreasons" target="_blank" class="contact-icon"><img style="width:20px;" src="/img/li.png"></img></a>
		</div>
	 </div>
  </footer>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-74367903-1', 'auto');
  ga('send', 'pageview');

</script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</body>
<html>
